.user {
  display: flex;
  margin: 20px 0;
  // height: 100%;

  .image-container {
    width: 100px;
    height: 100px;
    background: #ebebeb;
    border-radius: 5px;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
    height: 100%;

    .username {
      color: #b1b1b1;
    }

    .option {
      cursor: pointer;
      color: grey;
      text-decoration: none;
      margin-top: 28px;

      &:hover {
        color: black;
      }
    }
  }
}
