.employment-info {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    margin: 20px;
    background: #ffffff;
    padding-bottom: 50px;
  
    .employment-info-label {
      margin: 40px 120px 20px;
    }
  
    .employment-form-area {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
  
    h2 {
      margin-left: 20px;
    }
  }
  