* {
  box-sizing: border-box;
  font-family: 'Open Sans';
  color: #1a1f36;
  text-decoration: none;
}

body {
  font-weight: 400;
}

h1 {
  font-weight: 900;
}
h2 {
  font-weight: 700;
}

h3 {
  font-weight: 300;
}

.hris {
  display: flex;
  height: 100vh;
}